<nb-layout windowMode>
    <nb-layout-header subheader>
    </nb-layout-header>

    <!-- Sidebar -->
    <nb-sidebar #sidebar state="compacted" responsive (stateChange)="onSidebarToggle($event)">
        <!-- Contenedor del logo y el botón del sidebar -->
        <div class="sidebar-header">
            <!-- Logo que se muestra solo cuando el sidebar está expandido -->
            @if (isSidebarExpanded) {
            <img src="https://static-cse.canva.com/blob/951786/1750logotiposqueteinspiraran.jpg" class="logo">
            }


            <!-- Botón para toggle del sidebar -->
            <a href="#" (click)="toggleSidebar($event)">
                <nb-icon [icon]="isSidebarExpanded ? 'arrow-ios-back-outline' : 'menu-outline'"></nb-icon>
            </a>
        </div>

        <!-- Menú -->
        <nb-menu [items]="menu">
        </nb-menu>
    </nb-sidebar>

    <!-- Contenido principal -->
    <nb-layout-column class="colored-column-basic">
        <router-outlet></router-outlet>
    </nb-layout-column>
</nb-layout>